html,
body,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #eaeaee;
    font-family: 'Kanit', sans-serif;

}


h1 {
    text-align: center;
    font-size: 10rem;
    margin-top: 5rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.card {
    height: 50vh;
    width: 19%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5rem;
    box-shadow: 5px 5px 5px 5px #e6e6ea;
    border-radius: 25px;
    transition: .2s;
}



.card-title {
    font-size: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
    text-align: center;
}

.card-img {
    width: 75%;
    background-color: #fff;
}

.card-price {
    font-size: 2rem;
    background-color: #fff;
}

.card-ip {
    margin-top: 4rem;
    font-size: 1.5rem;
    background-color: #fff;
}

.container {
    display: flex;
    margin: 10vh auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    background-color: #f3f3f7;
}


.card:hover {
    transform: matrix(6, 2.9, 3.7, 4, 5, 6);

}

@keyframes bounce {
    from {
        transform:scale(1,1);
    }

    to {
        transform: scale(2,.5);
    }
}

#card-cap:hover {
    animation-name: bounce;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes spin{
    from{
        transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    
#card-spiderman:hover{
    animation-name: spin;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes spin-huh{
    
    50%{
        transform: matrix(0.1, 1, -0.3, 1, 0, 0);
       
    }
    100%{
        transform: matrix(1,1,1,1,1,1);
    }
}

#groot:hover{
    animation-name: spin-huh;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
}


@keyframes skew{
    from{
        transform: skew(0deg,0deg);
    }
    to{
        transform: skew(50deg,0deg);
    }
}
#fett:hover{
    animation-name: skew;
    animation-duration: 50ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
}